production:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  pool: 5
  host: localhost
  database: <%= fetch(:application) %>_production
  username: <%= fetch(:application) %>
  password: <%= fetch(:database_password) %>
  timeout: 5000
