<% 
if cookies[:input] == "joystick" 
  unity_file = "/unity/ambler_joystick.unity3d"
else
  unity_file = "/unity/ambler_mouse.unity3d"
end
%>
<script src="/assets/UnityObject2.js"></script>

<script type="text/javascript">
  var u = new UnityObject2();
  var route = "<%= @route %>";

  function unityIsReady() {
    u.getUnity().SendMessage('/Main Camera','ChangeLevel', route);
  }

  function recordPositionLine(positionString) {
    $log = $("#virtual_navigation_log");
    var previousLog = $log.val();
    $log.val(previousLog + positionString);
  }

  $(document).ready(function() {
    u.initPlugin($("#unity-embed")[0], "<%= unity_file %>");
  });
</script>

<% if (@route_order == "first") and (@route == "A" or @route == "B") %>
<p style="font-size: 12pt;">Your task is to follow the route marked by the arrows and to learn the name and location of four buildings. The buildings are indicated by diamonds along the path and labeled by signs. Take as much time as you want.</p>
<% elsif (@route_order == "second") and (@route == "A" or @route == "B") %>
<p style="font-size: 12pt;">Now you will learn a second route through a different part of the same world. Remember the name and location of the four buildings indicated by diamonds and labeled by signs. Take as much time as you want.</p>
<% elsif (@route_order == "first") and (@route == "C1" or @route == "C2") %>
<p style="font-size: 12pt;">Now you will learn a route that connects the two different parts of the virtual world that you explored previously. Please follow the arrows. Take as much time as you want.</p>
<% elsif (@route_order == "second") and (@route == "C1" or @route == "C2") %>
<p style="font-size: 12pt;">Now you will learn a second route that also connects the two different parts of the virtual world that you explored previously. Please follow the arrows. Take as much time as you want.</p>
<% end %>

<div id="unity-embed" style="width: 1024px; height: 768px; border: 1px black solid"></div>

<%= form_tag study_instrument_path(:study_id=>@study.id,:instrument_id=>@instrument.order) %>
<input type="hidden" name="virtual_navigation_log[log]" id="virtual_navigation_log" />
<input type="hidden" name="virtual_navigation_log[route]" value="<%= "#{@route} #{@route_order}" %>" />
<%= submit_tag 'I am Finished', :class => "button" %>
</form>
