.row style="text-align: center; padding-top: 20px;"
  p Software developed by <a href="http://drew.dara-abrams.com/">Drew Dara-Abrams</a>. Code available under an open-source license <a href="https://github.com/drewda/virtual-ambler">at Github</a>.
