<%= content_for :head do %> 
<% end -%>

<%= content_for :content do %> 
<div class="span-3">&nbsp;</div>
<div class="span-18">
  <h1 align="center"><%= @study.name %></h1>
  <fieldset>
    <legend>Welcome</legend>
    <%== @study.welcome_text %>
  </fieldset>
  <%= form_for @participant, :url => study_start_path do |f| %>
    <fieldset>
      <legend>Identification</legend>
      <% if @study.ask_participant_id %>
        <p>
          <%= f.label :identification, "Participant ID" %>
          <%= f.text_field :identification  %>
        </p>
      <% end %>
      <% if @study.ask_name %>
        <p>
          <%= label_tag "participant_personal_record[first_name]", "First name" %>
          <%= text_field_tag "participant_personal_record[first_name]" %>
          <%= label_tag "participant_personal_record[last_name]", "Last name" %>
          <%= text_field_tag "participant_personal_record[last_name]" %>
        </p>
      <% end %>
      <% if @study.ask_age %>
        <p>
          <%= f.label :age, "Age" %>
          <%= f.text_field :age  %>
        </p>
      <% end %>
      <% if @study.ask_sex %>
        <p>
          <%= f.label :sex, "Sex" %>
          <%= select_tag "participant[sex]", options_for_select(["female", "male"]) %>
        </p>
      <% end %>
      <% if @study.ask_email %>
        <p>
          <%= label_tag "participant_personal_record[email]", "E-mail Address" %>
          <%= text_field_tag "participant_personal_record[email]" %>
        </p>
      <% end %>
    </fieldset>
    <fieldset>
      <legend>Informed Consent</legend>
      <img id="consent-form-image" src="/images/temple-informed-consent-form-2014on.png" width="612" height="444" />
    </fieldset>
    <fieldset>
      <legend>Web Data Release</legend>
      <h3>What we are asking</h3>
      <p>This form requests your permission to share material from this session in a secure, web-based data library. Material from this session may include answers and results from testing tools; other information such as age, birth date, sex, ethnicity, education, and self-reported health information; and information supplied by researchers who analyze data from this session. The library allows only authorized researchers to have access to shared information. Data sharing will lead to faster progress in research on human development and behavior.</p>
      <p>Giving permission to share your information in the data library is separate from consenting to participate in a research study. You do not have to give permission to share your information in the library. Your choices will not affect receipt of payment if offered for participation in this or future studies.</p>
      <h3>Will the information be confidential (kept private)?</h3>
      <p>No information will be included in the data library about how to contact you. No data files will be identified by anyone’s name. The authorized researchers with access to the library have agreed not to reveal the identities of people in the library.</p>
      <h3>Who has access to information in the library?</h3>
      <p>Only authorized researchers will have access to information in the library. Researchers who are granted access must agree to maintain confidentiality and not use information for commercial purposes. Researchers promise to treat information in the library with the same high standards of care that they treat information collected in their own laboratories.</p>
      <h3>How long will information remain in the library?</h3>
      <p>Information in the library will be preserved indefinitely in a secure location so that future researchers can use it. Permission to share can be revoked, but information previously shared cannot be retrieved. To revoke sharing permission, contact Steven Weisberg, <a href="mailto:smweis@temple.edu">smweis@temple.edu</a></p>
      <h3>Compensation</h3>
      <p>There will be no compensation for sharing information in the library.</p>
      <h3>Signatures</h3>
      <p>All people in the session must decide whether to provide permission for the following: Permission to share with authorized researchers.</p>
      <p style="background: yellow;">
        I give permission to share the material from this session with authorized researchers in a secure data library:<br/>
        <%= f.radio_button :share_data, 'true', checked: true %> 
        <%= label :share_data_yes, 'Yes' %>
        <%= f.radio_button :share_data, 'false', checked: false %>
        <%= label :share_data_no, 'No' %>
        <input type="text" placeholder="Enter your initials"/>
      </p>
      <p>We will give you a copy of this form and the signature page for your records. If you have any questions about the data-sharing library or about your rights as a research participant, you may <a href="mailto:smweis@temple.edu">smweis@temple.edu</a>.</p>
    </fieldset>
    <p>
      <%= link_to 'I Decline', :back, :class => "button secondary" %>
      <% if @study.kind_of_start_buttons == "vambler" %>
        <p align="center"><%= submit_tag "I Accept. Take Study with Mouse", :class => "button" %></p>
        <p align="center"><%= submit_tag "I Accept. Take Study with Joystick", :class => "button" %></p>
      <% else %>
        <span float="right"><%= submit_tag "I Accept.", :class => "button" %></span>
      <% end %>
    </p>
  <% end %>
  <p align="center">
    <em>This study is administered by <%= mail_to @study.experimenter.email, @study.experimenter.full_name %> of <%= link_to_if @study.lab.web_site, @study.lab.name, @study.lab.web_site %>.</em>
    </p>
</div>
<div class="span-3 last">&nbsp;</div>
<% end -%>

<%= render :partial => 'base' %>